<!DOCTYPE html>
<html>
  <head>
    <title>Rails7vite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= vite_include_tag "css", "app" %>
  </head>

  <body>
    <div id="root"></div>
    <% if Rails.env.development? %>
      <script type="module" src="http://localhost:3036/@vite/client"></script>
      <script type="module">
        import RefreshRuntime from 'http://localhost:3036/@react-refresh'
        RefreshRuntime.injectIntoGlobalHook(window)
        window.$RefreshReg$ = () => {}
        window.$RefreshSig$ = () => (type) => type
        window.__vite_plugin_react_preamble_installed__ = true
      </script>
    <% end %>
    <%= vite_include_tag "js", "app" %>
    
    <%= yield %>
  </body>
</html>